@charset "utf-8";

:root{
    --cor0: #ffffff;
    --cor1: #5ACAF2;
    --cor2: #10B4F0;
    --cor3: #0D8EBD;
    --cor4: #2A5D70;
    --cor5: #085470;

    --fontepadrao: 'mukta';
    --fontedestaque:'Bebas Neue';
    --fonteandroid:'android';

}

@font-face {
    font-family: 'android';
    src: url('fontes/Square.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

header{
    background-image: linear-gradient(to bottom , var(--cor2), var(--cor4));
    padding-top: 20px;
    font-family: var(--fontedestaque);
    padding: auto;
}

h1#titulo{
    text-align: center;
    color: var(--cor0);
    padding: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 1px 1px 2px #00000031;
}

p#primeirop{
    text-align: center;
    color: var(--cor0);
    font-weight: bolder;
   padding: 5px;
   padding-bottom: 20px;
   font-size: 17px;
   max-width: 500px;
   margin: auto;
   text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.075)
}

nav{
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: -2px 1px 4px 0px #00000021
}

nav > a{
    text-decoration: none;
    color: var(--cor0);
    padding: 10px;
    font-weight: bold;
    border-radius: 2px;
    margin: auto;
}

nav > a:hover{
    background-color: #928e8e;
}

body{
    background-color: var(--cor1);
    font-family: var(--fontepadrao);
}

main{
    padding: 20px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 1px;
    margin-bottom: 30px;
    display: block;
    min-width: 300px;
    max-width: 1000px;
    box-shadow: 1px 1px 1px 1px #0000001a;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

main a{
    text-decoration: none;
    color: var(--cor3);
    font-weight: bold;
    padding: 2px 4px;
    font-size: 1em;
    
}

a.externo::after{
    content: '\00A0 \1F517';
}

main a:hover{
    text-decoration: underline;
    color: var(--cor5);
}

main strong{
    color: black;
}


p.paragrafosm{
    text-align: justify;
    text-indent: 25px;
    line-height: 1.6em;
    font-size: 1.1em;
    margin: 15px 0px;
}


.tiguais{
    font-family: var(--fonteandroid);
    font-weight: bold;
    color: var(--cor5);
}

h1#titulo1{
    font-size: 30px;
}

main img{
    width: 100%;
}
img#pequena{
     display: block;
     margin: auto;
     max-width: 350px;
 }
 
 iframe{
     display: block;
     margin: auto;
     width: 80%;
     height: 400px;
 }

 aside{
     background-color: var(--cor2);
     padding: 10px;
     border-radius: 6px;
     box-shadow: 1px 1px 2px 0px #00000059
 }

h3#terceiro{
     color: var(--cor0);
     background-color: var(--cor5);
     padding: 10px;
     margin: -10px -10px 0px -10px;
     border-radius: 10px 10px 0px 0px;
 }

ul#listas{
     list-style-position: inside;
     list-style-type: '\2714\    ';
     columns: 2;
     font-size: 1.1em;
 }

 abbr{
     text-decoration: none;
 }

 footer{
     display: block;
     color: var(--cor0);
     background-color: var(--cor5);
     text-align: center;
     font-weight: 0.8em;
     margin: auto;
     padding: 10px 10px 20px 10px;
     font-weight: bold;
     margin-bottom: 0.1px;
 }

footer > p > a{
    color: var(--cor0);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor2);
}